/* Left Panel */
.left-panel{
	width: 270px;
	position: fixed;
	top: 70px;
	left: 0;
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
	min-height: 100%;
	overflow-y: scroll;
	background: #1d2239;
	z-index: 0 !important;
	-webkit-transition: left ease-out 0.5s, visibility 0.5s ease-out, opacity 0.5s ease-out;
	transition: left ease-out 0.5s, visibility 0.5s ease-out, opacity 0.5s ease-out;
}
@media screen and (max-width: 1360px){
	.left-panel{
		visibility: hidden;
		opacity: 0;
		left: -270px;
	}
	.left-panel-slide{
		left: 0px;
		visibility: visible;
		opacity: 1;
		z-index: 99 !important;
	}
}
@media screen and (min-width: 1361px){
	.left-panel{
		visibility: visible;
		opacity: 1;
		left: 0px;
	}
}
.race{
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,0.12);
	clear: both;
	cursor: pointer;
	transition: background 0.5s ease-out;
}
.race:hover{
	background: #181d30;
}
.bettingOpen{
	background: #181d30;
	border-right: 7px solid #446cb3;
}
.race ul{
	list-style: none;
	margin: 0;
	margin-left: 10%;
	padding: 0;
	padding-top: 10%;
}
.race ul li{
	display: inline-block;
	position: relative;
}
.days_number span{
	background: #262e4c;
	padding: 10px;
	border-radius: 5px;
	font-family: Ubuntu, sans-serif;
	font-weight: 600;
	color: #ffffff;
	box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}
.date{
	font-family: Roboto, sans-serif;
	font-weight: 300;
	font-size: 80%;
	color: #ffffff;
	top: 8px;
	margin-left: 15px;
}
.hour{
	margin-left: 0px;
	color: rgba(255,255,255,0.54) !important;
}
.status-race-sidebar{
	position: relative;
	margin-top: 10%;
	margin-left: 10%;
	font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 90%;
	color: #ffffff;
}
.status_race_value{
	font-family: Ubuntu, sans-serif;
	margin-left: 15px;
	padding: 5px;
	border-radius: 5px;
}
.upcoming{
	color: #22a7f0;
	border: 1px solid #22a7f0;
}
.closed{
	color: #f64747;
	border: 1px solid #f64747;
}
.live{
	color: #446cb3;
	border: 1px solid #446cb3;
}
.open{
	color: #03c9a9;
	border: 1px solid #03c9a9;
}
.start_countdown{
	font-family: Roboto, sans-serif;
	font-size: 80%;
	color: rgba(255,255,255,0.7);
	position: relative;
	margin-top: 5%;
	margin-left: 10%;
	padding-bottom: 10%;
}
.accordion{
	width: 300px !important;
	display: block;
	margin: 0;
	margin-bottom: 100%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.cat-title{
	font-family: Roboto, sans-serif !important;
	font-weight: 400 !important;
	color: #ffffff !important;
	background: #19b5fe;
	position: relative;
	margin-bottom: 0 !important;
	padding-top: 5% !important;
	padding-bottom: 5% !important;
	padding-left: 20px !important;
}
.closed-race{
	margin-top: -6px !important;
}
.non-participated{
	margin-top: -5%;
	background: #d2527f;
}
.cat-content{
	color: rgba(255,255,255,0.7);
}
