.modal-box-container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#01215d+1,1e0c7b+100&0.6+0,0.6+100 */
	background: -moz-linear-gradient(-45deg, rgba(1,33,93,0.6) 0%, rgba(1,33,93,0.6) 1%, rgba(30,12,123,0.6) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(1,33,93,0.6) 0%,rgba(1,33,93,0.6) 1%,rgba(30,12,123,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(1,33,93,0.6) 0%,rgba(1,33,93,0.6) 1%,rgba(30,12,123,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9901215d', endColorstr='#991e0c7b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 1s ease-out, visibility 1s ease-out;
	transition: opacity 1s ease-out, visibility 1s ease-out;
}
.modal-box-container-reveal{
	opacity: 1;
	visibility: visible;
	z-index: 99;
}
.modal-box{
	position: absolute;
	top: 20%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #ffffff;
	padding: 25px 40px 25px 40px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 1s ease-out, visibility 1s ease-out;
	transition: opacity 1s ease-out, visibility 1s ease-out;
}
.modal-box-slide{
	-webkit-animation-name: modalBoxSlide;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: ease-out;
	animation-name: modalBoxSlide;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	opacity: 1;
	visibility: visible;
}
@-webkit-keyframes modalBoxSlide{
	from{
		-webkit-transform: translateY(-100px);
	}
	to{
		-webkit-transform: translateY(0px);
	}
}
@keyframes modalBoxSlide{
	from{
		transform: translateY(-100px);
	}
	to{
		transform: translateY(0px);
	}
}
.modal-icon img{
	width: 32px;
	height: 32px;
}
.modal-text{
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
	font-size: 110%;
	color: #1f3081;
	margin-top: 5%;
}
.hr, .min{
	font-weight: 700;
	color: #446cb3;
}
.modal-button-close{
	border: none !important;
	border-radius: 0 !important;
	font-family: Ubuntu, sans-serif !important;
	font-weight: 700 !important;
	color: #ffffff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#446cb3+0,5644b3+100 */
	background: rgb(68,108,179); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(68,108,179,1) 0%, rgba(86,68,179,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(68,108,179,1) 0%,rgba(86,68,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(68,108,179,1) 0%,rgba(86,68,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446cb3', endColorstr='#5644b3',GradientType=1 ); /* IE6-9 */
	padding: 10px 40px 10px 40px !important;
	margin-top: 5%;
	-webkit-transition: box-shadow 0.2s ease-out !important;
	transition: box-shadow 0.2s ease-out !important;
}
.modal-button-close:hover{
	-webkit-box-shadow: 0px 0px 30px rgba(2, 32, 255, 0.85);
	box-shadow: 0px 0px 30px rgba(2, 32, 255, 0.85);
}
