.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@font-face {
    font-family: "prometheus";
    src: url("./PROMETHEUS.ttf") format("truetype");
}

@font-face {
    font-family: "bebas-neue";
    src: url("./BebasNeue.otf") format("truetype");
}

@font-face {
    font-family: "sansation";
    src: url("./Sansation_Regular.ttf") format("truetype");
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


html{
    background-color: #36454f ;
    height: 100%;
}

body{
  background-color: #36454f!important;
  font-family: sansation!important;
  text-align: center;
  height: 100%;

}
.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

nav{
  background-color:white;
}
button.betlist.active{
    background-color: #047bff; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

* {
 color: white;

}

.jumbotron {
    background-color: #36454f!important;
}
.container{
  margin-top: 2%;
}
.top{
  margin-top: 40%;


}
/*.list-group{
  min-height: 100%;
}*/
#root{
  min-height: 100%;

}

.full-height
{
  /*min-height: 100%;*/
  /*height: inherit;*/
  /*height: 100vh;*/
}

.left-sidebar{
  /*min-height: 150%;*/
  background-color: black!important;
  padding: 0;
  height: 90vh;
  border-radius: 5px;
  overflow: hidden;
}
.list-group{
  width: 100%;
}
.list-group-item{
  background-color: black!important;
  width: 100%;
}
.list-group-item:hover{
  background-color: #212529!important;
}

ul{
  min-height: 100%;
}

.navbar-brand{
  width: 20%;
}
#faucet.hidden {
    visibility: hidden;
}

.modal-header{
  color:black;
}
.modal-body{
  color:black;
}
ul > li{
  color:black
}
#claim{
  background-color: #32CD32;
}
.header-font
{
    font-family:    prometheus;
    font-size:      40px;
    font-weight: 500;
}
#copyright{
    text-align: center;
    background-color:#e0e0eb;
    position: absolute;
    width: 100%;
    /*overflow:hidden;*/
    right: 0;
    bottom: 0;
    left: 0;
}
span{
  display: inline-block;
  /*vertical-align: middle;*/
  line-height: normal;
  /*line-height: 50px;*/
  /*color: black;*/
}
center{
  text-align: center;
}
nav h3{
  font-family: bebas-neue;
  /*font-size: 30px;*/
}
.tool-tip[disabled] {
  pointer-events: none;
}

.tooltip{
  display: none;
  padding: 10px;
}

Amount:hover .tooltip {
  background: blue;
  border-radius: 3px;
  bottom: -60px;
  color: white;
  display: inline;
  height: 30px;
  left: 0;
  line-height: 30px;
  position: absolute;
}

Amount:hover .tooltip:before {
  display: block;
  content: "";
  position: absolute;
  top: -5px;
  width: 0;
height: 0;
border-left: 5px solid transparent;
border-right: 5px solid transparent;

border-bottom: 5px solid blue;
}

.reload { font-family: Lucida Sans Unicode }

.sidebar{
  position:relative;
  padding-top: 5%;
}



/* .contract{
  margin-left: 100%;
  margin-right: 0;
}

.dropdown-controller {
  position: absolute;
  right: 0;
} */
